h1 {
    font-weight: 700;
    font-size: 50px;
    margin: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}

.item-containers {
    text-align: left;
}

.my-row {
    margin: 10px 5px;
}

.my-button {
    min-width: 80px;
}